<tr>
  <td class="predict-time"><%= l match_predict.updated_at, format: :short %></td>
  <td class="predict-score"><%= match_predict.scores_str %></td>
  <td><%= link_to_user match_predict.user %> <%= match_predict_status match_predict %></td>
</tr>