<tr>
  <td class="col-md-1"><%= l match_predict.updated_at, format: :short %></td>
  <td class="predict-score"><%= match_predict.scores_str %></td>
  <td><%= link_to_user match_predict.user %></td>
</tr>