<% @teams.each_slice(4) do |teams| %>
<div class="row">
  <% teams.each do |team| %>
  <div class="col-md-3 col-sm-6">
    <div class="panel">
      <div class="panel-heading">
        <%= flag_list 32 do %>
            <%= flags team.team.country.downcase.to_sym, :language => I18n.locale %>
        <% end %>
        <h3 class="panel-title">
          <%= link_to team.name, team_season_path(team) %>
        </h3>
      </div>
      <div class="panel-body">
        <%= image_tag team.logo %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>