<h1>Listing Teams</h1>

<table>
  <thead>
    <tr>
      <th>Short name</th>
      <th>Logo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td>
          <%= flag_list 32 do %>
              <%= flags team.team.country.downcase.to_sym, :language => I18n.locale %>
          <% end %>
          <%= link_to team.name, team_season_path(team) %>
        </td>
        <td><%= image_tag team.logo %></td>
      </tr>
    <% end %>
  </tbody>
</table>