<div class="row">
  <div class="col-md-2">
    <img src="<%= @team.logo.url %>" alt="<%= @team.team.code %>"/>
    <% if policy(@team).import? %>
      <p><br/><a class="btn btn-default" href="<%= import_team_season_path @team %>">Import</a>
    <% end %>
  </div>
  <div class="col-md-10">
    <div class="blog">
      <div class="blog-header">
        <h5 class="blog-title">Riders</h5>
      </div>
      <div class="blog-body">
        <table class="table table-condensed table-bordered no-margin">
          <tbody>
            <% @team.rider_team_seasons.each do |rider| %>
            <tr>
              <td><%= rider.rider.first_name + ' ' + rider.rider.last_name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>