<table class="table table-condensed no-margin">
<tbody>
<% overall.each do |item| %>
  <% max_score = overall[0].score %>
  <tr>
    <td class="col-md-1 center"><%= image_for_classification item %></td>
    <td><%= link_to item.user, user_path(item.user) %></td>
    <td class="col-md-1"><%= item.score %></td>
    <td class="col-md-1"><%= "(#{item.score - max_score})" if item.score != max_score %></td>
  </tr>
<% end %>
</tbody>
</table>