<tr>
  <td class="col-md-3"><%= l tournament.start_at, format: '%d %b %Y' %> - <%= l tournament.end_at, format: '%d %b %Y' %></td>
  <td>
    <%= link_to tournament.name, tournament_path(tournament) %>
    <%#= link_to 'view', race_path(race) if user_signed_in? and current_user.admin? and not race.is_ready %>
    <%#= '<i class="fa fa-check-circle green"></i>'.html_safe if race.race_results.any? %>
    <div class="pull-right">
      <%#= race_type_for race %>
    </div>
  </td>
</tr>