<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <table class="table table-condensed table-bordered no-margin">
      <tbody>
      <% @tournament.rounds.order(:start_at).each do |round| %>
        <%= render round %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <%= render partial: 'rounds/overall_standing', locals: { overall: @overall, title: @tournament.name } %>
  </div>
</div>