<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="blog blog-success no-margin">
      <div class="blog-header">
        <h5 class="blog-title">Races</h5>
      </div>
      <div class="blog-body">
        <div class="table-responsive">
          <table class="table table-condensed table-bordered no-margin">
            <tbody>
            <% @races.each do |race| %>
            <tr>
              <td class="col-md-3"><%= race.start_at %> - <%= race.end_at %></td>
              <td><%= race.name %></td>
            </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>