<!-- Logo starts -->
<div class="logo">
  <a href="<%= root_path %>">
    <img src="/img/logo2.png" alt="logo">
  </a>
</div>

<div class="pull-right">
  <ul id="mini-nav" class="clearfix">
    <li class="list-box hidden-lg hidden-md hidden-sm menu-toggle" id="mob-nav">
      <a href="#" data-original-title="" title="">
        <i class="fa fa-reorder"></i>
      </a>
    </li>
  </ul>
</div>