<%# add navigation links to this file %>
<% if user_signed_in? %>
<div class="current-user">
  <div class="user-avatar animated rubberBand">
    <img src="/img/user4.jpg" alt="Current User">
    <span class="busy"></span>
  </div>
  <div class="user-name">Welcome Mr. James</div>
  <ul class="user-links">
    <li>
      <a href="<%= edit_user_registration_path %>" data-original-title="" title="">
        <i class="fa fa-sliders text-info"></i>
      </a>
    </li>
    <li>
      <a href="<%= destroy_user_session_path %>" title="Sign out">
        <i class="fa fa-sign-out text-danger"></i>
      </a>
    </li>
  </ul>
</div>
<% else %>
<div class="current-user" style="padding-left: 10px; padding-top: 15px">
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-info' %>
  <%= link_to 'Login', new_user_session_path, class: 'btn btn-default' %>
</div>
<% end %>
